---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import Link from "@components/Link.astro";
import { ABOUT } from "@consts";

---

<PageLayout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
    <Container>
      <h4 class="animate font-semibold text-black dark:text-white underline">
        About Us
      </h4>
      <br>
      <p class="animate">
        We're "Elk Radio", an internet-only station serving up only the best music selection this side of the Mississippi (there's a Mississippi river Internet equivalent, right?).
      </p>
      <br>
      <p class="animate">
        Don't let the name fool you, we aren't a country-music station. We play a mix of a lot of things, ranging from rock to pop! There's other genres for sure that we didn't listen. After all, that's part of the fun in listening: not knowing what's going to play next!
      </p>
      <br>
      <p class="animate">
        We're in a bit of a transitional-phase at the moment, otherwise we'd tell you more about us! You can read more on that shift at <Link href="./blog/updated-music-programming">our post here</Link>. We'll update this with more information once we've completed our shift.
      </p>
    </Container>
</PageLayout>
