---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { ABOUT } from "@consts";

---

<PageLayout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
    <Container>
      <h4 class="animate font-semibold text-black dark:text-white">
        About Us
      </h4>
      <br>
      <h4 class="animate font-semibold text-black dark:text-white">
        Who We Are
      </h4>
      <br>
      <p class="animate">
        We're Elk Radio, Jefferson County's Mix radio and most listened to in the county. We do our best to bring you the best music in the state, even if we aren't heard on the FM frequencies across it. We play the songs you like without the ones you don't. And if we happen to play something that isn't your fancy, that's fine too! There's guaranteed to be something you like, right here on the mix!
        <br><br>
        Unlike other radio stations, we don't broadcast news. Many question our stance on this matter. With a more chaotic world, we are blasted with news from every direction, including when you listen to music. We decided it is best to give listeners a place where they can just enjoy music, without worrying about the latest news. So welcome to Elk Radio, your new, music-focused station.
        <br><br>
      </p>
      <h4 class="animate font-semibold text-black dark:text-white">
        Music
      </h4>
      <br>
      <p class="animate">
        All radio stations license out their music so that artists can earn revenue. We follow that standard with a little twist. While we do follow the current hits lists, we don't include everything that is there. All of our music, every single one of our songs, is listened to and hand picked by our staff. If one of our staff likes a song, old or new, they put it in a test playlist that the rest of the staff listens to on their own time. Each of us listens to it and if we like it, we put a thumbs up on that song. If someone doesn't like it, they put a thumbs down on that song. If the majority of us likes it, the songs' license is then acquired by us, and moved into our music database. If not, it doesn't hit our airwaves. Simple as that.
        <br><br>
        And listeners have input on this too! If you hear a song you didn't really like, you can submit feedback to us with the name and artist of the song and tell us you didn't like that song. We store that feedback and, if we get a lot of negative feedback for a particular song, we remove it. Simple, right?
        <br><br>
        With this method, we ensure that most of our listeners will enjoy that particular song. And, with a music library of over 2,500 songs ranging from 70s rock to current hits, 90s pop to 2000s metal, and everything in-between, there is guaranteed to be something that you love.
        <br><br>
        You'll also love our custom-made playlists! All major holidays have a period where commercials simply aren't played. So you can enjoy your favorite holiday music without the commercials. How cool!
        <br><br>
      </p>
      <h4 class="animate font-semibold text-black dark:text-white">
        Commercials
      </h4>
      <br>
      <p class="animate">
        We operate with commercials as all radio stations do; it helps with operation costs of the station and helps pay us! But, like everything else we do, it's different.
        <br><br>
        Ever been listening to a station that you like but it is riddled with commercials? We certainly did. Most people, like us, switch to a different station after about a minute and a half of commercials. Listeners would rather have shorter, more frequent interruptions instead of longer, less frequent. That's why we believe in the ‘one minute or less' procedure of our station. Advertisers looking to advertise on our station get the opportunity to record their ad in 15-second intervals. Recording in these time limits ensures a perfect balance of music and commercials. This fine balance allows for advertisers to advertise to a larger listener base because listeners won't switch to a different station.
        <br><br>
        So when the commercials start, start a timer. We'll be done by then.
        <br><br>
      </p>
      <h4 class="animate font-semibold text-black dark:text-white">
        Reception
      </h4>
      <br>
      <p class="animate">
        Traveling outside of antenna range? Download the Elk Radio app on Apple and Android devices to listen live, participate in live events, and more! Or simply go to our <Link href="https://elkradio.com">livestream</Link> to listen live right in your browser! (psst, this also works if you work in an office.)
        <br><br>
    </p>
    </Container>
</PageLayout>
